<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bot</title>
</head>

<body>
    <form action="/message" method="post">
        <textarea name="message" id="" cols="30" rows="10" placeholder="message"></textarea>

        <!-- <input type="text" placeholder="message" name="message"> -->
        <br>
        <textarea name="reply" id="" cols="30" rows="10" placeholder="reply"></textarea>
        <!-- <input type="text" placeholder="reply" name="reply"> -->

        <br>
        <button type="submit">submit</button>

    </form>

</body>

<script>



</script>



</html>